<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arliss.trakker.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:name="com.arliss.trakker.android.permission.C2D_MESSAGE"
                android:protectionLevel="signature" />
    <uses-permission android:name="com.arliss.trakker.android.permission.C2D_MESSAGE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.arliss.trakker.android.MyApplication">
        <activity android:name=".ImageReceiverActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data
                        android:mimeType="image/*"/>

            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".HelloAndroidActivity"/>
        <activity
            android:name=".TicketActivity"
            android:label="whatgoodisalabel"/>
        <activity
            android:name=".AllTicketsActivity"
            android:label="All Tickets"/>

        <service android:enabled="true" android:name=".library.ProcessingService" />
        <receiver
            android:name=".library.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.arliss.trakker.android" />
            </intent-filter>
        </receiver>
        <service android:name=".library.GcmIntentService" />

    </application>


</manifest>